@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.header {
  margin: 0 auto;
}
.header__center {
  padding-left: calc(50% - 887px);
  padding-right: calc(50% - 887px);
}

.box-top {
  display: grid;
  grid-template-columns: 300px 400px 1fr 290px;
  height: 82px;
}
.box-top__logo {
  background-image: url(./img/logo1.svg);
  background-repeat: no-repeat;
  background-position: left;
}
.box-top__link {
  display: block;
  width: 100%;
  height: 100%;
}
.box-top__search {
  padding-left: 46px;
  padding-top: 28px;
  width: 352px;
}
.box-top__form {
  display: flex;
  justify-content: space-between;
  height: 32px;
  border: 1px solid #005BC5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.box-top__text {
  width: 100%;
  border: none;
  outline: 0 !important;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  color: #9C9C9C;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.box-top__submit {
  border-bottom: 0;
  border-top: 0;
  border-right: 0;
  border-left: 1px solid #005BC5;
  height: 32px;
  width: 36px;
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 5px;
  background-color: #fff;
  cursor: pointer;
}
.box-top__menu {
  padding-top: 31px;
}
.box-top__ul {
  display: flex;
  gap: 44px;
  height: 51px;
  justify-content: center;
  list-style-type: none;
}
.box-top__list {
  position: relative;
  cursor: pointer;
}
.box-top__list:hover {
  border-bottom: 5px solid #242B32;
}
.box-top__list:hover > .box-top__menu-header {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.box-top__menu-header {
  padding-bottom: 26px;
  text-decoration: none;
  white-space: nowrap;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  color: #242B32;
}
.box-top__items {
  display: none;
  list-style-type: none;
  position: absolute;
  padding: 30px 45px;
  left: -30px;
  top: 52px;
  background-color: #fff;
  border-color: #d1d1d1;
  border-style: solid;
  border-width: 0 2px 2px 2px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 150;
}
.box-top__item {
  margin-bottom: 10px;
}
.box-top__item:last-child {
  margin-bottom: 0;
}
.box-top__item-link {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  white-space: nowrap;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  color: #242B32;
}
.box-top__item-link:hover {
  color: #005BC5;
}
.box-top__list:hover > .box-top__items {
  display: block;
}
.box-top__input {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}
.box-top__button-link {
  display: block;
  box-sizing: border-box;
  height: 38px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 9px;
  padding-bottom: 8px;
  text-decoration: none;
}
.box-top__reg {
  padding-left: 34px;
  padding-right: 34px;
  background-color: #005BC5;
  color: #fff;
}
.box-top__inp {
  padding-left: 22px;
  padding-right: 22px;
  color: #433C3C;
  border: 1px solid #433C3C;
}

.entrance {
  position: absolute;
  display: none;
  width: 400px;
  height: 290px;
  background: #FFFFFF;
  border: 1px solid #005BC5;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
  text-align: center;
  margin: auto;
  right: 142px;
  top: 145px;
  animation-name: example;
  z-index: 200;
  animation-duration: 1.2s;
}
.entrance__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #242B32;
  padding-top: 26px;
}
.entrance__form {
  width: 400px;
}
.entrance__text {
  width: 320px;
  height: 38px;
  background: #FFFFFF;
  border: 1px solid #005BC5;
  margin: 16px 16px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #242B32;
  padding: 0 14px 0;
  outline: none;
}
.entrance__password {
  width: 320px;
  height: 38px;
  background: #FFFFFF;
  border: 1px solid #005BC5;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #242B32;
  padding: 0 14px 0;
  margin: 30px 16px;
  outline: none;
}
.entrance__button {
  width: 130px;
  height: 40px;
  background: #005BC5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
  margin: 0 auto;
  border: 1px solid #005BC5;
}
.entrance__button:hover {
  cursor: pointer;
}
@keyframes example {
  from {
    top: -400px;
  }
  to {
    top: 150px;
  }
}

.visible {
  display: block;
}

.wrapper {
  max-width: 1776px;
  margin: 0 auto;
}

.accordion {
  display: flex;
  justify-content: center;
  padding: 0;
}

.slide-box {
  display: flex;
  justify-content: left;
  position: relative;
  overflow: hidden;
  max-width: 320px;
  height: 742px;
  background-color: rgb(255, 255, 255);
  transition: all 2.5s;
  cursor: pointer;
}
.slide-box__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 45px;
  padding-right: 45px;
  max-width: 354px;
  min-width: 170px;
  height: 650px;
}
.slide-box__header {
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.slide-box__line {
  max-width: 258px;
  border: 1px solid #005BC5;
}
.slide-box__text {
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--unnamed, #433C3C);
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.slide-box__button {
  max-width: 94px;
  padding: 8px 35px;
  background: #005BC5;
  color: #FFF;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
.slide-box__number {
  position: absolute;
  padding-left: 45px;
  bottom: 12px;
  color: #433C3C;
  font-family: Roboto, sans-serif;
  font-size: 66px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}
.slide-box__label {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transform: rotate(-90deg);
  transform-origin: left bottom;
  right: -736px;
  bottom: 5px;
  width: 736px;
  height: 60px;
}
.slide-box__cross {
  padding: 20px;
}
.slide-box__label-header {
  color: #FFF;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
  padding-right: 15px;
  white-space: nowrap;
}
.slide-box__label-line {
  width: 650px;
  margin-right: 28px;
  background-color: #FFF;
  height: 1px;
}
.slide-box__image {
  height: 100%;
}

.main-info {
  display: grid;
  grid-template-columns: 516px 444px 444px 516px;
  padding-left: calc(50% - 960px);
  padding-right: calc(50% - 960px);
  height: 168px;
}
.main-info__text {
  display: flex;
  align-items: center;
  height: 168px;
  background-color: #005BC5;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.main-info__text-item1 {
  width: 398px;
  padding-left: 34px;
}
.main-info__text-item2 {
  width: 398px;
  padding-left: 48px;
}
.main-info__image {
  height: 168px;
  background-color: #F3F6F8;
  text-align: center;
}
.main-info__image1 {
  width: 516px;
  background-image: url(./img/picture1.png);
  background-repeat: no-repeat;
  background-position: center;
}
.main-info__image1_color {
  padding-top: 20px;
  opacity: 0;
  transition: 0.3s;
}
.main-info__image1_color:hover {
  opacity: 1;
}
.main-info__image2 {
  width: 444px;
  background-image: url(./img/picture2.png);
  background-repeat: no-repeat;
  background-position: center;
}
.main-info__image2_color {
  padding-top: 46px;
  opacity: 0;
  transition: 0.3s;
}
.main-info__image2_color:hover {
  opacity: 1;
}

.video-info {
  display: flex;
  justify-content: space-between;
  max-width: 1774px;
  margin: 0 auto;
  height: 620px;
}
.video-info__scroll {
  width: 930px;
  height: 500px;
  padding-top: 50px;
  padding-bottom: 70px;
}
.video-info__scroll-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 21px;
  padding-right: 11px;
  width: 920px;
  height: 500px;
  overflow-y: scroll;
}
.video-info__scroll-items::-webkit-scrollbar {
  width: 5px;
  /* ширина всей полосы прокрутки */
}
.video-info__scroll-items::-webkit-scrollbar-track {
  background: #BEC0C2;
  /* цвет зоны отслеживания */
}
.video-info__scroll-items::-webkit-scrollbar-thumb {
  background-color: #005BC5;
  /* цвет бегунка */
  border-radius: 5px;
  /* округлось бегунка */
  border: 1px solid #005BC5;
  /* отступ вокруг бегунка */
}
.video-info__scroll-item1, .video-info__scroll-item2, .video-info__scroll-item5, .video-info__scroll-item6 {
  background-image: url(./img/film.png), url(./img/video1.png);
  background-repeat: no-repeat;
  background-position: bottom, center;
  width: 444px;
  height: 239px;
}
.video-info__scroll-item3, .video-info__scroll-item4, .video-info__scroll-item7, .video-info__scroll-item8 {
  background-image: url(./img/film.png), url(./img/video2.png);
  background-repeat: no-repeat;
  background-position: bottom, center;
  width: 444px;
  height: 239px;
}
.video-info__scroll-link {
  display: block;
  width: 85px;
  margin: 94px auto 0px;
}
.video-info__scroll-text1, .video-info__scroll-text2, .video-info__scroll-text5, .video-info__scroll-text6 {
  padding-top: 42px;
  padding-left: 30px;
  max-width: 294px;
  color: #FFF;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.4px;
}
.video-info__scroll-text3, .video-info__scroll-text4, .video-info__scroll-text7, .video-info__scroll-text8 {
  max-width: 190px;
  padding-left: 30px;
  padding-top: 17px;
  color: #FFF;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.4px;
}
.video-info__about {
  background-image: url(./img/mask-about.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 793px;
}
.video-info__about-header {
  padding-top: 100px;
  color: #242B32;
  font-family: Roboto;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.video-info__about-line {
  width: 143px;
  height: 1px;
  background-color: #005BC5;
}
.video-info__about-text {
  max-width: 750px;
  padding-top: 18px;
  color: #433C3C;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  height: 144px;
}
.video-info__about-empty {
  margin-bottom: 30px;
  max-width: 750px;
  color: #433C3C;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.video-info__about-link {
  padding: 8px 20px;
  color: #433C3C;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  border: 1px solid #433C3C;
}
.video-info__about-link:hover {
  border: 1px solid #005BC5;
  color: #005BC5;
}

.events {
  max-width: 1774px;
  margin: 0 auto;
}
.events__button-box {
  display: flex;
  justify-content: space-between;
  padding-left: calc(50% - 94px);
  height: 50px;
}
.events__header {
  text-align: center;
  width: 192px;
  color: #242B32;
  font-family: Roboto, sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.events__link {
  display: inline-block;
  text-align: center;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  transition: 0.3s;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.events__button_color {
  margin-top: 12px;
  stroke: #005BC5;
}
.events__button-left {
  margin: 0 20px;
}
.events__button-left:hover {
  background-color: #005BC5;
  cursor: pointer;
}
.events__button-left:hover .events__button_color {
  stroke: #ffffff;
}
.events__button-right:hover {
  background-color: #005BC5;
  cursor: pointer;
}
.events__button-right:hover .events__button_color {
  stroke: #ffffff;
}
.events__line {
  margin: 0 auto;
  width: 192px;
  height: 1px;
  background-color: #005BC5;
}

.carousel-slider-wrapper {
  width: 1774px;
  margin: 0 auto;
  position: relative;
}

.slider-scroller-wrap {
  overflow: hidden;
}

.events-box {
  display: flex;
  margin-top: 35px;
  height: 439px;
  border-radius: 20px;
  margin-bottom: 50px;
}
.events-box__item {
  flex: 0 0 25.22%;
}
.events-box__card-info {
  display: flex;
  width: 430px;
  height: 439px;
  background-image: url(./img/event.png);
  background-repeat: no-repeat;
  background-position: top;
  flex-direction: column;
  justify-content: flex-end;
}
.events-box__card-content {
  height: 180px;
  border-radius: 20px;
  background: #FFFFFE;
  box-shadow: 2px 4px 11px 0px rgba(0, 0, 0, 0.09);
}
.events-box__card-data {
  padding: 29px 34px 0;
  color: #005BC5;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.4px;
}
.events-box__card-header {
  white-space: wrap;
  padding: 7px 34px 18px;
  color: #242B32;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
}
.events-box__card-menu {
  position: relative;
  float: left;
  width: 62px;
  height: 44px;
  background-image: url(./img/menu.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0px 30px 0px 20px;
  border: 1px solid #005BC5;
}
.events-box__card-menu:hover {
  cursor: pointer;
}
.events-box__card-menu:hover .events-box__card-popup {
  display: block;
}
.events-box__card-popup {
  position: absolute;
  border: 1px solid #005BC5;
  border-radius: 0px 0px 20px 0px;
  background: #ffffff;
  bottom: 44px;
  left: -1px;
  width: 48px;
  height: 334px;
  display: none;
}
.events-box__link-social {
  background-size: 36px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 46px;
  border-bottom: 1px solid #005BC5;
}
.events-box__link-social:last-child {
  border-bottom: none;
}
.events-box__link-social:hover {
  background-size: 85%;
}
.events-box__image1 {
  background-image: url(./img/telegram-64x64.png);
}
.events-box__image2 {
  background-image: url(./img/instagram.png);
}
.events-box__image3 {
  background-image: url(./img/vk-64x64.png);
}
.events-box__image4 {
  background-image: url(./img/whatsapp-64x64.png);
}
.events-box__image5 {
  background-image: url(./img/viber-1-64x64.png);
}
.events-box__image6 {
  background-image: url(./img/twitter.png);
}
.events-box__image7 {
  background-image: url(./img/e-mail-64x64.png);
}
.events-box__card-button {
  float: right;
  padding: 12px 30px;
  border: 1px solid #005BC5;
  border-radius: 30px 0px 20px 0px;
  background: #005BC5;
  color: #FFF;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: 0.3s;
}
.events-box__card-button:hover {
  background: #ffffff;
  color: #005BC5;
}/*# sourceMappingURL=style.css.map */